<nav class="nav-container">
  <button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="butn">MainMenu</button>
  <button routerLink="/journal" routerLinkActive="active" ariaCurrentWhenActive="page" class="butn">Journal</button>
  <button routerLink="/adding" routerLinkActive="active" ariaCurrentWhenActive="page" class="butn">Adding</button> 
  <!-- <div>
    <image-cropper 
      [imageChangedEvent]="imgChangeEvt" 
      [maintainAspectRatio]="true" 
      [aspectRatio]="4 / 4"
      [resizeToWidth]="100" 
      format="png" 
      (imageCropped)="cropImg($event)" 
      (imageLoaded)="imgLoad()"
      (cropperReady)="initCropper()" 
      (loadImageFailed)="imgFailed()">
    </image-cropper>
  </div> -->
  <!-- <div>
    <img src="box-truck"  />
  </div> -->
  
</nav>
<router-outlet></router-outlet>
<footer class="footerclass">
  <h1>Scales for weighing vehicles</h1>
</footer>